.storie__btn-content {
    display: flex;
    flex: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    gap: 50%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 90px;
    
    div {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid rgb(133, 133, 133);
        background-color: rgba(151, 156, 156, 0.603);
        width: 22%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        z-index: 8;
        margin-bottom: 3rem;

        &:hover{
            background-color: transparent;
        }

        svg {
            color: rgb(0, 0, 0);
            font-size: 33px;
            font-weight: bolder;
            transition: .4s;

            &:hover {
                color: white;
            }
        }
    }
}

.storie__container{
    display: flex;
    flex: 1;
    background-color: aqua;
    height: 100%;
    width: 100%;
    align-items: center;justify-content: center;
    position: relative;

    .news {
        background-color: rgba(0, 0, 0, 0.39);
        height: 100%;
        width: 100%;
        z-index: 7;
        position: absolute;
        padding: 1rem .5rem;

        h4 {
            color: white;
            text-align: center;
        }
        p {
            color: white;
            
        }
    }
}

.storie__img{
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
    
}