#history {
    padding-top: 10rem;
}

.history__content {
    width: 70%;
    margin: 0 auto;

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 3rem;
    }
}

.history__text {
    p {
        color: white;
        letter-spacing: 2px;
        line-height: 3;
        font-weight: 300;
    }
    &:last-child {
        margin-bottom: 4rem;
    }
}